*{
    margin: 0;
}
h{
    font-family: 'Merriweather', serif;
}

.sec1{
    display: flex;
    height: 200px;
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.button{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
 
}
.part1{
    width: 50%;
    margin: 30px;
    padding: 25px;
}
.part1 img{
    width: 75%;
}
.button2{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
    color: antiquewhite;
}
.part2{
    width: 50%;
    margin: 30px;
    padding: 25px;
}
.part2 img{
    width: 75%;
}
.sec2{
    display: flex;
    height: 200px;
    background-repeat: no-repeat;
    margin-top: 400px;
}
p{
    font-size: 20px;
}
