h{
    font-family: 'Merriweather', serif;
}

section{
    display: flex;
    
}
.button{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(orange tomato);
}
.part1{
    width: 50%;
    margin: 30px;
    padding: 25px;
}
